<div class="wrapper">
    <div class="container">
        <div class="section">
            <div class="row center">
                <div class="col s12 m4 l2"></div>
                <div class="col s12 m4 l8">
                    <h1 class="center">Welcome</h1>
                </div>
                <div class="col s12 m4 l2"></div>
            </div>
        </div>
        <div class="col s12 m6 l3">


            <div class="row center">
                <div class="section trackerForm center-align clearfix" id="trackerForm">
                    <div class=" s12 m6 l3">
                        {{!-- ^^^ a col was here... if stuff starts breaking put it back and blame sarah --}}
                        <div class="card-content gray-text text-darken-4">
                            <span class="card-title center ">Tracker</span>
                            <div class="divider">
                            </div>
                        </div>
                        {{#each trackers}}
                        <table class="trackerTable" data-TrackerID={{id}}>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                                <th>6</th>
                                <th>7</th>
                                <th>8</th>
                                <th>9</th>
                                <th>10</th>
                                <th>11</th>
                                <th>12</th>
                                <th>13</th>
                                <th>14</th>
                                <th>15</th>
                                <th>16</th>
                                <th>17</th>
                                <th>18</th>
                                <th>19</th>
                                <th>20</th>
                                <th>21</th>
                                <th>22</th>
                                <th>23</th>
                                <th>24</th>
                                <th>25</th>
                                <th>26</th>
                                <th>27</th>
                                <th>28</th>
                                <th>29</th>
                                <th>30</th>
                            </tr>
                            <div class="card-action">

                                <tr>
                                    <td class="deleteTracker" id={{id}}>X</td>
                                    <td>{{itemTitle}}</td>
                                    <td id="dayOne"><input type="checkbox" id={{id}} value="on" /></td>
                                    <td id="dayTwo"></td>
                                    <td id="dayThree"></td>
                                    <td id="dayFour"></td>
                                    <td id="dayFive"></td>
                                    <td id="daySix"></td>
                                    <td id="daySeven"></td>
                                    <td id="dayEight"></td>
                                    <td id="dayNine"></td>
                                    <td id="dayTen"></td>
                                    <td id="dayEleven"></td>
                                    <td id="dayTwelve"></td>
                                    <td id="dayThirteen"></td>
                                    <td id="dayFourteen"></td>
                                    <td id="dayFifteen"></td>
                                    <td id="daySixteen"></td>
                                    <td id="daySeventeen"></td>
                                    <td id="dayEighteen"></td>
                                    <td id="dayNineteen"></td>
                                    <td id="dayTwenty"></td>
                                    <td id="dayTwentyOne"></td>
                                    <td id="dayTwentyTwo"></td>
                                    <td id="dayTwentyThree"></td>
                                    <td id="dayTwentyFour"></td>
                                    <td id="dayTwentyFive"></td>
                                    <td id="dayTwentySix"></td>
                                    <td id="dayTwentySeven"></td>
                                    <td id="dayTwentyEight"></td>
                                    <td id="dayTwentyNine"></td>
                                    <td id="dayThirty"></td>

                                </tr>

                        </table>
                        {{/each}}

                    </div>
                    <div>
                        <input type="text" class="tracker" placeholder="Tracker Item">
                        <span class="addbtn btn-small waves-effect waves-light grey darken-4">Add</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row center testROWS">
            <div class="section sectionForm" id="todosForm">

                <div class="col s12 m6 l6">
                    <div class="card white">
                        <div class="card-content gray-text text-darken-4">
                            <span class="card-title center">Todo</span>
                            <div class="divider"></div>
                            <ul class="myUL">

                                {{#each todos}}
                                {{#if completed}}
                                <span class="todo">
                                    <li class="completed" id={{id}}>{{todo}}
                                        <span class="deleteItem" id={{id}}>X</span></li>
                                </span>
                                {{else}}
                                <span class="todo">
                                    <li id={{id}}>{{todo}}
                                        <span class="deleteItem" id={{id}}>X</span></li>
                                </span>
                                {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                        <div class="card-action">
                            <input type="text" class="todo" placeholder="To-Do Item">
                            <span class="addbtn btn-small waves-effect waves-light grey darken-4">Add</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="section journalForm" id="journalsForm">

                <div class="col s12 m6 l6">
                    <div class="card white">
                        <div class="card-content gray-text text-darken-4">
                            <span class="card-title center div">Journals</span>
                            <div class="divider"></div>
                            <div id="journal-entries">
                                {{#each journals}}
                                <div class="entry">
                                    <h6 class="journal-title">{{createdAt}}</h6>
                                    <span class="deleteJournal" id={{id}}>X</span>
                                    <p class="entry" id={{id}}>{{body}} </p>
                                    <div class="divider" id="journal-divider"></div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="card-action">
                            <form class="col s10">
                                <div class="row">
                                    <div class="input-field ">
                                        <textarea id="textarea1" class="materialize-textarea journal"></textarea>
                                        <label for="textarea1">Share your thoughts</label>
                                        <span class="addbtn btn-small waves-effect waves-light grey darken-4">Add</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>